@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', sans-serif;*/

@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root { /* lugar onde pode ser criar variaveis e outros comandos.*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial,verdana,helvetica,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'android', cursive;
}

* { /* usando para configurar todos os comandos de uma vez so.*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao)
}

a.externo::after{
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    margin-bottom: 20px;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
}

nav {
    background-color: var(--cor5); 
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.226) ; /* sombra */
}

nav > a {
    color: var(--cor1); /* cor */
    padding: 10px; /* preenchimento */
    border-radius: 20px; /* arredondamento da borda */
    text-decoration: none; /* sem decoração */
    font-weight: bold; /* negrito */
    transition-duration: 0.5s; /* Tempo de duração da transição quando passa o mouse */
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.363);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
}

main img {
    width: 100%; /*deixa imagem ocupando 100% do espaço em main.*/
}

main img.pequena {
    max-width: 350px; /*deixa a imagem com 350px.*/
    display: block; /*transforma imagem em bloco.*/
    margin: auto; /*centraliza a margim fazendo imagem fica no centro.*/
}

main p {
    text-indent: 30px; /*para deixa o texto com espaço no começo.*/
    margin: 15px 0px; /*proporção da margem.*/
    text-align: justify; /*deixa o texto ajustado a te o final da linha.*/
    font-size: 1em; /*tamanho da fonte.*/
    line-height: 2em; /*espaçamento entre linhas.*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 10px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.534);
    padding: 20px;
    
    position: relative; /*colocando relativa vc pode ajeita o video usando %.*/
    padding-bottom: 56.5%; /* ajeita o tamanho do video.*/
}

div.video >iframe {
    position: absolute; /*quando colocamos posicionamente absuluto voce pode mecher com (top), (left), (width), (height).*/
    top: 5%; /*descola o video 5% da borda de cima.*/
    left: 5%; /*descola o video 5% da borda para esquerda.*/
    width: 90%; /*largura do video.*/
    height: 90%; /*altura do video.*/
}

aside {
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*margin negativa muda a direção (margem para fora)*/
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    /*tipo da lista de estilo.
    (00A0 = dar um espaço ( ). )
    (\ = complemento.)
    (2714 = codigo hexadecimal emogi.)*/
    list-style-position: inside; 
    /*posição da lista de estilo. 
    (outside = fora) 
    (inside = dentro) */
    columns: 2; /* quantas colunas */
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}